@charset "utf-8";
/* common.css - 공통 레이아웃 디자인 */






/***************** 헤더 영역 ***********************/
#header {
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99;
}

.logo {
    width: 200px;
    margin-left: 5%;
    margin-top: -0%;
}

.logo img {
    width: 100%;
}

#gnb {
    position: absolute;
    top: 20%;
    right: 5%;
    width: 450px;
}

.gnb_box {
    width: 100%;
}

.gnb_box {
    display: flex;
    justify-content: space-around;
}


.gnb_box > li a {
    color: #222;
    overflow: hidden;
    display: inline-block;
}

.gnb_box > li a span {
    font-family: 'NanumSquareR';
    position: relative;
    font-size: 1.2rem;
    display: inline-block;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
}

.gnb_box > li a span::before {
    position: absolute;
    top: 100%;
    content: attr(data-hover);
    font-weight: bold;
    color: #C7060E;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.gnb_box > li a:hover span,
.gnb_box > li a:focus span {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
}

/*************** 햄버거 메뉴 **************/

.hammenu,
.hammenu span {
    display: inline-block;
    transition: all .4s;
}

.hammenu {
    position: absolute;
    width: 50px;
    height: 35px;
    top: 30%;
    right: 6%;
    display: none;
    z-index: 99;
}

.hammenu span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
}

.hammenu span:nth-of-type(1) {
    top: 0;
}

.hammenu span:nth-of-type(2) {
    top: 15px;
}

.hammenu span:nth-of-type(3) {
    bottom: 0;
}
.hammenu.active {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.hammenu.active span:nth-of-type(1) {
    -webkit-transform: translateY(16px) rotate(-45deg);
    transform: translateY(16px) rotate(-45deg);
}

.hammenu.active span:nth-of-type(2) {
    -webkit-transform: translateY(0) rotate(45deg);
    transform: translateY(0) rotate(45deg);
}

.hammenu.active span:nth-of-type(3) {
    opacity: 0;
}

/* 햄버거 클릭시 gnb */
.outer_menu{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
    display: none;
}
.mq_gnb_wrap{
    position: absolute;
    width: 65%;
    background-color: #eb2f37e3;
    right: 0;
    height: 100vh;
}
.mq_gnb_box{ 
    padding: 30% 10%;
}
.mq_gnb_box li{
    padding-right: 2%;
    line-height: 2;
    font-weight: bold;
    transition: all .75s 0s ease;
}
.mq_gnb_box li a{
    font-size: 3rem;
    transition: all .5s
}
.mq_gnb_box li:hover a{
    color: #fff;
}




/****** article 공통 class *******/
.com_wrap {
    width: 100%;
    margin: 0 auto;
    max-width: 1224px;
}

.com_title {
    font-size: 1.25rem;
    line-height: 1.5;
}

.com_guid {
    padding-bottom: 3%;
    font-size: 1rem;
    text-align: right;
}

.com_guid_img {
    display: block;
    padding: 10% 0 1%;
    width: 10%;
}

.red_circle h2::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    top: -22px;
    right: -17px;
    border-radius: 50%;
    background-color: rgba(199, 6, 14, 0.35);
}


/*************** 푸터 영역 ********************/
footer {
    background-color: #222;
    overflow: hidden;
/*    height: 30vmin;*/
}
.footer_wrap{
    color: #fff;
    padding: 4% 0;
    text-align: center;
}
.footer_text a {
    color: #fff;
}
.footer_sns{
    width: 15%;
    margin: 0 auto;
}
.footer_sns li{
    float: left;
    width: 33.33%;
}

.footer_text h3 {
    font-family: 'QuestaSans';
    padding-bottom: 20px;
}
.footer_text > div {
    font-size: .7rem;
    line-height: 2;
}

.footer_text2 {
    padding-bottom: 15px;
}
.footer_sns img {
    width: 25px;
}
.footer_text>p{
    padding-top: 20px;
    font-size: .6rem;
    
}
