@charset "utf-8";
/* core.css - 중요공통기능 */

/*웹폰트*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
}

@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'NanumSquareR';
    src: url(../font/NanumFont/NanumSquareR.ttf) format('truetype'), url(../font/NanumFont/NanumSquareR.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'QuestaSans';
    src: url(../font/QuestaSansRegular.ttf) format('truetype'), url(../font/QuestaSansRegular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-SemiBoldItalic';
    src: url(../font/Montserrat/Montserrat-SemiBoldItalic.ttf) format('truetype'), url(../font/Montserrat/Montserrat-SemiBoldItalic.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

/*font-family: 'Nanum Myeongjo', serif;*/
/*font-family: 'Maven Pro', sans-serif;*/
/*font-family: 'Noto Sans KR', sans-serif;*/
/*font-family: 'Montserrat', sans-serif;*/

/*
[ 웹폰트지정형식 ]
@font-face {
    font-family: 내가지은이름;
    src: url(경로.woff) format("woff"),
        url(경로.ttf) format("truetype")
}
- woff 는 데스크탑 브라우저용 웹폰트 확장자
- ttf 는 모바일 브라우저용 웹폰트 확장자
- format(형식명) 은 명시적으로 확장자를 지정하여 웹폰트 로딩을 빠르게함!
*/



/*공통*/
body {
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 136%;
    font-size: 1rem;
    color: #222;
    overflow-x: hidden;
}

.core{
    width: 1920px;
    max-width: 100%;
    margin: 0 auto;
}


table,
thead,
tbody,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
}

/* 공통 class */

.bld {
    width: 0;
    height: 0;
    overflow: hidden;
    display: block;
}


.clear_both::before,
.clear_both::after {
    content: "";
    clear: both;
    display: block;
}

