@charset "utf-8";
/* core.css - 중요공통기능 */

/*웹폰트*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
}

@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');

@font-face {
    font-family: kakao;
    src: url(../KakaoRegular.ttf) format("truetype");
}

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-6Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




/*font-family: 'Nanum Myeongjo', serif;*/
/*font-family: 'Maven Pro', sans-serif;*/
/*font-family: 'Noto Sans KR', sans-serif;*/
/*

[ 웹폰트지정형식 ]
@font-face {
    font-family: 내가지은이름;
    src: url(경로.woff) format("woff"),
        url(경로.ttf) format("truetype")
}
- woff 는 데스크탑 브라우저용 웹폰트 확장자
- ttf 는 모바일 브라우저용 웹폰트 확장자
- format(형식명) 은 명시적으로 확장자를 지정하여 웹폰트 로딩을 빠르게함!

*/

/*공통*/
body {
    font-family: 'Noto Sans KR', sans-serif;
    color: #222;
    line-height: 136%;
    font-size: 1rem;
    max-width: 1920px;
    overflow-x: hidden;
}

/* 공통 class */

.bld{
    width: 0;
    height: 0;
    overflow: hidden;
    display: block;
}


/****** article 공통 class *******/
.com_wrap{
    width: 1224px;
    margin: 0 auto;
    max-width: 100%;
}

.com_title{
    font-size: 1.25rem;
    line-height: 1.5;
}
.com_guid{
    float: right;
    font-size: 1rem;
}

.com_guid_img{
    display: block;
    padding: 10% 0 1%;
}

.red_circle h2::after{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    top: -22px;
    right: -17px;
    border-radius: 50%;
    background-color: rgba(199, 6, 14, 0.35);
}
