@charset "utf-8";

/* franchisee.css - 가맹문의페이지 CSS */

@import url(main.css);
/*

html,body{
    height: 100%;
    overflow: hidden;
}
*/

body {
    background-color: #FFFCF6;
}

.gnb_box > li a {
    color: #000;
}

/*

#franchisee_wrap {
    width: 100%;
    height: 100%;
    overflow: auto;
}
*/

/****************헤더 배너 영역 ****************/
.franchisee_banner_box {
    position: relative;
    background: url(../images/franchisee_banner.png) no-repeat center/cover;
    box-shadow: 0 1px 5px grey;
    height: 80vmin;
    margin: 5% 0 10%;
    text-align: center;
}

.franchisee_banner_text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    color: #fff;

}

.franchisee_banner_text h2 {
    font-size: 2rem;
    padding-bottom: 3%;
    text-shadow: 0px 3px 5px #333;
}

.franchisee_banner_text > div {
    line-height: 1.5;
    color: #cbcbcb;
    font-size: 1.3rem;
    margin-bottom: 10%;
    text-shadow: 1px 0 #3d3d3d, -1px 0 #3d3d3d, 0 1px #3d3d3d, 0 -1px #3d3d3d;
}

/* 이동 메뉴 */

.franchisee_menu_list {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90vmin;
}

.franchisee_menu_list li {
    width: 25%;
    border-bottom: 2px solid #C7060E;
    padding: .7em 0;
}

.franchisee_menu_list li:first-child {
    border-bottom: none;
}

.franchisee_menu_list a {
    color: #dddddd;
    display: block;
    transition: .5s;
    font-size: 1.1rem;
}

.franchisee_menu_list a:hover {
    color: rgba(199, 6, 14, 0.9);
}

.franchisee_click {
    border: 2px solid #C7060E;
    border-bottom: none;
}


/*************  성공요인 ***************/


.success_title {
    margin-bottom: 5%;
}

.success_box {
    width: 100%;
    height: auto;
}


/* 성공요인 1*/
.success_area_1 {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.sec1_text_box {
    padding-top: 15%;
    text-align: right;
    width: 40%;
}

.success_img1 {
    /*  position: relative;
    opacity: 0;
    transform: translateY(50%);
    transition: all 1.2s ease-in;*/
    margin: 15% 0 0 5%;
}

/*.active {
    opacity: 1;
    transform: translateY(15%);
    transition-delay: 0.3s;
    transition: all 1.2s ease-in-out;
}*/


.success_img1 > img {
    /*    box-shadow: 0 1px 5px grey;*/
    width: 100%;
    opacity: .9;
}

.sec1_img_back {
    position: absolute;
    width: 380px;
    height: 550px;
    border: 1px solid #f5f5f5;
    background-color: #f5f5f5;
    z-index: -1;
    top: 18%;
}

.sec1_text1 {
    font-size: 2.1rem;
    padding-bottom: 5%;
}

.sec1_text2 {
    font-size: 1.1rem;
    line-height: 1.7;
    padding-bottom: 10%;
}

.sec1_text3 {
    font-size: 2.1rem;
    line-height: 1.5;
}

/* 성공요인 2*/
.success_area_2_area {
    display: flex;
    justify-content: space-between;
}

.success_img2 {
    text-align: right;
}

.success_img2 > img {
    /*position: relative;
    opacity: 0;
    transform: translateY(15%);
    transition: all 1s ease-in;*/
    margin-top: 10%;
    width: 100%;
}

/*
.active2 {
    opacity: 1;
    transform: translateY(10%);
    transition-delay: 0.3s;
}*/

.csuccess_img2 > img {
    box-shadow: 0 1px 5px grey;
    opacity: .9;
}

.sec2_text_box {
    padding-top: 20%;
    text-align: right;
    margin-right: 4.7%;
}

.sec2_text1,
.sec3_text3 {
    font-size: 2.1rem;
    line-height: 1.5;
    padding-bottom: 5%;
}

.sec2_text2,
.sec3_text2 {
    font-size: 1.1rem;
    line-height: 1.7;
    padding-bottom: 5%;
}

.sec2_text_box p {
    font-size: 1.1rem;
    line-height: 1.7;
    padding-bottom: 5%;
}

/* 성공요인 3*/
.success_area_3 {
    overflow: hidden;
    margin-top: -3%;
}

.sec3_text_inbox1 {
    text-align: right;
    padding-top: 8%;
}

.success_img_3 {
    float: left;
    width: 50%;
    box-shadow: 0 1px 5px grey;
}

.sec3_text_inbox2 {
    float: left;
    padding: 6% 0 0 5%;
}

.sec3_text1 {
    font-size: 2.1rem;
    line-height: 1.3;
    padding-bottom: 2%;
}

.sec3_text4 {
    font-size: 1.1rem;
    line-height: 1.7;
}

/* 성공요인 4 */
.success_area_4 {
    margin-top: 7%;
    position: relative;
}

.sec3_img {
    position: relative;
    opacity: 0;
    transform: translateY(-15%);
    transition: all 1s ease-in;
    /*
    margin-top: 10%;*/
}

.active4 {
    opacity: 1;
    transform: translateY(15%);
    transition-delay: 0.3s;
    /*
    transition: all 1.2s ease-in-out;*/
}

.sec3_img > img {
    float: right;
    width: 65%;
    box-shadow: 0 1px 5px grey;
}

.go_btn {
    position: absolute;
    border: 1px solid #333;
    background-color: #333;
    width: 250px;
    height: 50px;
    top: 50%;
/*    left: 10%;*/
    text-align: center;
    line-height: 50px;
    box-shadow: 0 1px 5px #333;
}

.go_btn a {
    display: block;
    color: #fff;
}

/***************** 개설 조건 ******************/
.condition_wrap {
    margin-top: 10%;
}

.condition_main_title {
    font-size: 2rem;
    text-align: center;
    margin: 10% 0 10%;
}

.condition_main_title h2 {
    display: inline-block;
    position: relative;
}

.condition_list_area {
    position: relative;
    background-color: #f9f9f9;
    width: 100%;
    height: 40vmin;
}

.condition_list_box {
    display: flex;
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: space-between;
}

.condition_list_box > li {
    display: flex;
    width: 40rem;
}

.condition_list_box > li img {
    width: 150px;
    height: 150px;
    margin: 10% 15% 0 0;
}

.condition_list_title {
    font-size: 1.562rem;
    color: #C7060E;
    padding-bottom: 5%;
}

.condition_list {
    line-height: 2;
}

/***************** 개설 절차******************/

.step_wrap {
    margin: 20% 0;
}

.step_main_title {
    font-size: 2rem;
    text-align: center;
    margin: 15% 0 10%;
}

.step_main_title h2 {
    display: inline-block;
    position: relative;
}

/* 개설절차 리스트 */
.step_list_wrap1 {
    width: 1640px;
    margin: 0 auto;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.step_list_wrap2 {
    width: 1640px;
    margin: 0 auto;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.step_img {
    position: relative;
}

.step_img > img {
    width: 100%;
}

.step_list_box {
    width: 21%;
    margin: 0 2% 5.3% 2%;
    background-color: #fff;
    box-shadow: -4px 5px 15px 4px rgba(235, 235, 235, 0.45);
}

.step_list_num {
    position: absolute;
    width: 50px;
    bottom: -19px;
    left: 6%;
    height: 50px;
    background-color: rgba(199, 6, 14, 0.6);
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    color: #fff;
}

.step_list_text {
    margin-top: 10%;
    padding-left: 5%;
}

.step_list_text_area {
    padding-bottom: 5%;
}

.step_list_text li {
    line-height: 2;
}

.step_text_title {
    font-size: 1.3rem;
}

.step_list_wrap1 > .step_list_box:not(:last-child) .step_img::after {
    content: url(../images/step_arrow.png);
    position: absolute;
    top: 90%;
    right: -15%;
}

.step_list_wrap2 > .step_list_box>li .step_img::after {
    content: url(../images/step_arrow.png);
    position: absolute;
    top: 90%;
    right: -15%;
    transform: rotate(180deg);
}

.step_list_wrap2 > .step_list_box:first-child .step_img::after {
    display: none;
}

.step_list_wrap1 > .step_list_box:last-child {
    position: relative;
}

.step_list_wrap1 > .step_list_box:last-child::after {
    content: url(../images/step_arrow.png);
    position: absolute;
    transform: translatex(-50%) rotate(90deg);
    left: 50%;
    bottom: -13%;
}

/*********** 투자비용 *************/

.cost_wrap {
    margin-bottom: 13%;
}

.cost_main_title {
    font-size: 2rem;
    text-align: center;
    margin: 15% 0 10%;
}

.cost_main_title h2 {
    display: inline-block;
    position: relative;
}

.cost_list_top {
    text-align: right;
    color: #8b8b8b;
    font-size: .9rem;
}

table {
    width: 100%;
    padding: 0;
    border-spacing: 0;
    text-align: center;
    margin: 1% 0 2% 0;
}

table tr th {
    font-weight: bold;
    border-top: 3px solid #C7060E;
    border-bottom: 1px solid #C7060E;
    height: auto;
    vertical-align: middle;
    line-height: 3;
    font-size: 1.3rem;
}

table tr td {
    border-bottom: 1px solid #f0f0f0;
    line-height: 3;
    height: auto;
}

table tr td:first-child, table tr td:last-child {
    min-width: 70px;
}


.cost_list_text span {
    color: #C7060E;
}

.cost_list_text {
    color: #8b8b8b;
    font-size: .9rem;
}

/* 상담바로가기 버튼 */
.cost_go_btn a {
    color: #fff;
    display: block;
}

.cost_go_btn {
    background-color: #333;
    width: 250px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    /* box-shadow: 0 1px 5px #333; */
    margin: 15% auto;

}


/*********** 탑버튼 ***************/
.topbtn {
    position: absolute;
    text-align: center;
    padding-top: 12px;
    top: 80%;
    right: 5%;
    width: 65px;
    height: 65px;
    box-shadow: 0 0 4px grey;
    border-radius: 50%;
    cursor: pointer;
    z-index: 9999;
    display: none;
    background-color: rgba(255, 255, 255, 0.7);
}

.topbtn img {
    height: 40px;
}
