@charset "utf-8";

/* main.css - 메인페이지 CSS */

/*파일 merging(합치기)*/
@import url(../css/reset.css);
@import url(../css/core.css);
@import url(../css/common.css);
@import url(../css/normalize.css);
@import url(../css/typed.css);
@import url(../css/aos.css);
@import url(../css/media.css);


.main_top {
    position: relative;
    box-shadow: 0 1px 5px grey;
}

/************** 헤더 영역 **************/
/*#header {
    display: flex;
    position: absolute;
    width: 100%;
    z-index: 99;
}

.logo {
    width: 200px;
    margin-left: 5%;
}

.logo img {
    width: 100%;
}

#gnb {
    position: absolute;
    top: 15%;
    right: 5%;
    width: 450px;
}

.gnb_box {
    width: 100%;
}

.gnb_box {
    display: flex;
    justify-content: space-around;
}

.gnb_box a {
    color: #fff;
}*/

/************** 배너영역 ***************/

/*배너겉박스*/
#main_ban {
    /* position: relative;*/
    /*부모자격*/
}

/*배너박스*/
.main_banslide {
    position: relative;
    /*부모자격*/
    height: 80vmin;
}

.main_banslide li {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    /*모두 안보이게*/
    transition: opacity .8s;
    /*트랜지션*/
}

.main_banslide li.on {
    /*class가 "on"인 li*/
    opacity: 1;
    z-index: 1;
    /*맨위로 오게*/
}

/* 배너 박스 글 */
.main_ban_box {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.main_ban_text1 {
    font-family: 'Montserrat-SemiBoldItalic';
    font-size: 3rem;
    color: #C7060E;
/*    text-shadow: 0 0 3px #ffeb00;*/
    text-shadow: 0 0 2px #fff;
}

.main_ban_text2 {
    position: relative;
    font-size: 2rem;
    text-shadow: 0 0 4px #000;
}

.main_ban_text2::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 85px;
    height: 3px;
    bottom: -140%;
    background-color: #C7060E;
    z-index: 2;
}

.main_ban_text3 {
    padding-top: 5%;
    line-height: 1.5;
    font-size: 1.125rem;
    text-shadow: 0 0 3px #000;
}

/*배너 각 이미지 넣기*/
.main_banslide li:first-child {
    background: url(../images/main_banner1.png) no-repeat center/cover;
}

.main_banslide li:nth-child(2) {
    background: url(../images/main_banner2.png) no-repeat center/cover;
}

.main_banslide li:nth-child(3) {
    background: url(../images/main_banner4.png) no-repeat center/cover;
}

/* 블릿 버튼 */
#slide_btn {
    position: absolute;
    bottom: 5%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    z-index: 2;
}

#slide_btn li {
    float: left;
    width: 20px;
    height: 20px;
    margin-right: 15px;
    cursor: pointer;
    background: url(../images/btn.png) no-repeat;
}

#slide_btn li:last-child {
    margin-right: 0;
}

#slide_btn li:hover,
#slide_btn li.on {
    background-position: 0 -20px;
}

/* 검색창 */
.search_wrap {
    position: relative;
    width: 100%;
    height: 20vmin;
}

.search_box {
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background-color: #fff;
    border: 1px solid #C7060E;
    border-radius: 30px;
    transition: 0.4s;
    overflow: hidden;
}

.search_box:hover {
    box-shadow: 0px 0px .5px 1px #C7060E;
    width: 20%;
}

.search_btn {
    text-decoration: none;
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 10px;
    color: #C7060E;
}

.search_txt {
    display: flex;
    padding: 0;
    width: 0px;
    border: none;
    background: none;
    outline: none;
    float: left;
    font-size: 1rem;
    transition: .4s;
}

.search_box:hover > .search_txt {
    width: 240px;
    padding: 0 6px;
}
