@media only screen and (max-width: 1500px) {

    /*********  memu page  *************/
    .menu_list > li img {
        width: 90px;
    }

    #menu_list_wrap {
        top: 28%;
        width: 52%;
    }

    .menu_ban_burger_img1 {
        width: 600px;
        top: 30%;
    }

    .menu_ban_burger_img2 {
        width: 440px;
    }

    /*********  info page  *************/
    .info_map_view {
        width: 520px;
    }

}

@media only screen and (max-width: 1250px) {

    /*********  memu page  *************/
    .menu_list > li img {
        width: 80px;
    }

    #menu_list_wrap {
        width: 53%;
    }

    .menu_ban_burger_img1 {
        width: 500px;
        top: 40%;
    }

    .menu_ban_burger_img2 {
        width: 380px;
        top: 20%;
    }

    .menu_banner_text h2 {
        font-size: 5.5rem;
    }

    .menu_banner_text p {
        font-size: 1.18rem;
    }


    /*********  info page  *************/
    .info_map_view {
        width: 520px;
    }
}


@media only screen and (max-width: 1200px) {

    /********* main page ***************/
    .main_ban_text1 {
        font-size: 2.9rem;
    }

    .main_ban_text2 {
        font-size: 1.7rem;
    }

    .main_ban_text3 {
        font-size: 1rem;
    }

    .gnb_box > li a span {
        font-size: 1.1rem;
    }

    .search_txt {
        font-size: .8rem;
    }

    .search_box:hover > .search_txt {
        width: 240px;
        padding: 4px 6px 0;
    }

    /*********  memu page  *************/
    .burger_img {
        width: 190px;
    }

    #menu_list_wrap {
        width: 55%;
    }
}

@media only screen and (max-width: 1080px) {

    /********* main page ***************/
    .main_ban_text1 {
        text-shadow: 0 0 2px #fff;
    }

    .main_ban_text3 {
        font-size: 0.98rem;
    }

    .logo {
        width: 180px;
    }

    #gnb {
        display: none;
    }

    .hammenu {
        display: block;
    }

    /*********  memu page  *************/
    .burger_img {
        width: 185px;
        margin: 15% 5%;
    }

    .menu_list > li img {
        width: 73px;
    }

    .menu_ban_burger_img1 {
        width: 450px;
        top: 50%;
    }

    .menu_ban_burger_img2 {
        width: 300px; 
        top: 25%;
    }

    .menu_banner_text h2 {
        font-size: 5rem;
    }

    .menu_banner_text p {
        font-size: 1rem;
    }

}

@media only screen and (max-width: 1024px) {

    /********* main page ***************/
    .logo {
        width: 150px;
    }

    .hammenu {
        width: 45px;
    }

    /*********  memu page  *************/
    .burger_img {
        width: 180px;
        margin: 15% 6%;
    }

    #menu_list_wrap {
        width: 58%;
    }

    .menu_list > li img {
        width: 75px;
    }
}

@media only screen and (max-width: 1000px) {

    /*********  memu page  *************/

    #menu_list_wrap {
        width: 63%;
    }

    .menu_list > li img {
        width: 72px;
    }
}

@media only screen and (max-width: 900px) {

    /********* main page ***************/
    .search_box {
        transition: none;
        width: 250px;
        overflow: visible;
    }

    .search_btn {
        display: block;
    }

    .search_txt {
        transform: none;
        display: block;
        width: 240px;
    }

    .search_box:hover {
        box-shadow: none;
        width: 250px;
    }


    .main_banslide {
        width: 100vw;
        height: 80vh;
    }

    .search_wrap {
        height: 20vh;
    }

    /*********  memu page  *************/
    .menu_box_img {
        width: 29%;
    }

    .burger_img {
        width: 175px;
        margin: 15% 6%;
    }

    #menu_list_wrap {
        width: 67%;
    }

    .menu_list > li img {
        width: 70px;
    }
}

@media only screen and (max-width: 840px) {

    /*********  memu page  *************/

    .burger_img {
        width: 175px;
        margin: 15% 6%;
    }

    #menu_list_wrap {
        width: 75%;
    }

    .menu_list > li img {
        width: 70px;
    }
}

@media only screen and (max-width: 767px) {

    /********* main page ***************/
    .main_ban_text2::after {
        display: none;
    }

    .main_ban_text2 {
        position: absolute;
        top: -5%;
        font-size: 1.6rem;
    }

    .main_ban_box {
        text-align: left;
    }

    .main_ban_text3 {
        padding-top: 17%;
    }

    .break {
        display: block;
        line-height: 1.5;
    }

    .break1 {
        display: block;
        color: #C7060E;
        font-weight: bold;
        text-shadow: none;
    }

    .main_ban_box {
        top: 50%;
        left: 60%;
    }

    /*********  memu page  *************/

    .burger_img {
        width: 170px;
        margin: 15% 6%;
    }

    #menu_list_wrap {
        width: 80%;
    }

    .menu_list > li {
        padding: 10px 25px;
    }

    .menu_list > li img {
        width: 70px;
    }

}


@media only screen and (max-width: 680px) {

    /*********  memu page  *************/

    .menu_box_img {
        width: 46%;
    }

    #menu_list_wrap {
        width: 83%;
    }

    .menu_list > li img {
        width: 60px;
    }
}

@media only screen and (max-width: 607px) {

    /********* main page ***************/
    .logo {
        width: 130px;
    }

    .hammenu {
        width: 40px;
        height: 30px;
    }

    .main_ban_text2 {
        font-size: 1.3rem;
    }

    .hammenu span:nth-of-type(2) {
        top: 13px;
    }
}

@media only screen and (max-width: 590px) {
    /*********  memu page  *************/

    .burger_img {
        width: 158px;
        margin: 15% 6%;
    }

    #menu_list_wrap {
        width: 86%;
    }

    .menu_list > li {
        padding: 8px 22px;
    }

    .menu_list h3 {
        padding-top: 8px;
        font-size: .8rem;
    }


}

@media only screen and (max-width: 508px) {
    /*********  memu page  *************/

    #menu_list_wrap {
        width: 90%;
    }

    .menu_list > li {
        padding: 8px 22px;
    }

    .menu_list h3 {
        padding-top: 8px;
        font-size: .75rem;
    }

    .add_menu span {
        font-size: .8rem;
    }

    .menu_info_text {
        position: static;
    }

    .menu_detail {
        height: auto;
    }

    .menu_box_img {
        position: static;
    }

    #menu_box {
        position: relative;
    }
}

@media only screen and (max-width: 481px) {

    /********* main page ***************/
    .logo {
        width: 110px;
    }

    .hammenu {
        width: 35px;
        height: 25px;
    }

    .hammenu span:nth-of-type(2) {
        top: 10.5px;
    }

    .main_ban_text2 {
        font-size: 1.19rem;
    }

    .main_ban_text1 {
        font-size: 2.7rem;
    }

    .main_ban_text3 {
        font-size: 0.9rem;
    }

    /*********  memu page  *************/

    .burger_img {
        width: 150px;
        margin: 15% 6%;
    }

    #menu_list_wrap {
        width: 90%;
    }

    .menu_list > li {
        padding: 5px 20px;
        border-radius: 15px;
    }

    .menu_list > li img {
        width: 53px;
    }

}

@media only screen and (max-width: 420px) {
    /********* main page ***************/

    .main_ban_text2 {
        font-size: 1.11rem;
    }

    .main_ban_text1 {
        font-size: 2.3rem;
    }

    /*********  memu page  *************/

    .burger_img {
        width: 140px;
        margin: 15% 6%;
    }

    .menu_list > li {
        padding: 5px 15px;
    }

    .menu_list > li img {
        width: 45px;
    }

    .menu_list h3 {
        padding-top: 0;
        font-size: .7rem;
    }

    .menu_box_text > div {
        font-size: 0.68rem;
    }

    .menu_box_text h3 {
        font-size: .9rem;
    }

}

@media only screen and (max-width: 375px) {


    /*********  memu page  *************/

    .burger_img {
        width: 130px;
        margin: 15% 6%;
    }

    .menu_list h3 {
        padding-top: 0;
        font-size: .65rem;
    }

    .menu_box_text > div {
        font-size: 0.6rem;
    }

    .menu_box_text h3 {
        font-size: .8rem;
    }

    .add_menu span {
        font-size: .5rem;
    }


}
