@charset "utf-8";

/* menu.css - 메뉴페이지 CSS */

@import url(main.css);





body {
    background-color: #FFFCF6;
}

.menu_top {
    box-shadow: 0 1px 5px grey;
}

.gnb_box > li a {
    color: #222;
}

/************** 배너 *************/



/*배너박스*/
.menu_ban_list {
    margin-top: 5%;
    position: relative;
    /*부모자격*/
    height: 60vmin;
}

.menu_ban_list li {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    /*모두 안보이게*/
    transition: opacity .8s;
    overflow: hidden;
}

.menu_banner_text {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.menu_banner_text h2 {
    font-family: 'Montserrat-SemiBoldItalic';
    font-size: 6rem;
    padding-bottom: 12%;
    color: #fff;
}

.menu_banner_text p {
    font-size: 1.35rem;
    line-height: 1.5;
    color: #fff;
}


/* 버거 배너 */

.menu_ban_burger {
    background-color: #e85a1c;
}

.menu_ban_burger_img1 {
    position: absolute;
    width: 35%;
    top: 32%;
    left: -10%;
    opacity: 0;
}

.menu_ban_burger.on .menu_ban_burger_img1 {
    animation: bgrAni1 .2s ease-in-out .5s forwards;
}

@keyframes bgrAni1 {
    to {
        left: 3%;
        opacity: 1;
    }
}/*keyframes*/

.menu_ban_burger_img2 {
    position: absolute;
    width: 22%;
    right: 5%;
    top: 15%;
    opacity: 0;
}

.menu_ban_burger.on .menu_ban_burger_img2 {
    animation: bgrAni2 .2s ease-in-out 1s forwards;
}

@keyframes bgrAni2 {
    to {
        right: 14%;
        opacity: 1;
    }
}/*keyframes*/

.menu_ban_burger_img3{
    display: none;
}

/* 치킨배너 */

.menu_ban_chicken {
    background-color: #FFB24F;
}

.menu_ban_chicken_img1 {
    position: absolute;
    width: 40%;
    right: 4%;
    bottom: -20%;
    opacity: 0;
}

.menu_ban_chicken.on .menu_ban_chicken_img1 {
    animation: chkAni1 .2s ease-in-out .5s forwards;
}

@keyframes chkAni1 {
    to {
        right: 1%;
        opacity: 1;
    }
}/*keyframes*/

.menu_ban_chicken_img2 {
    position: absolute;
    left: 17%;
    top: -7%;
    width: 22%;
    opacity: 0;
}
.menu_ban_chicken.on .menu_ban_chicken_img2 {
    animation: chkAni2 .2s ease-in-out .1s forwards;
}

@keyframes chkAni2 {
    to {
        top: 6%;
        opacity: 1;
    }
}/*keyframes*/

/* 사이드 배너 */

.menu_ban_side {
    background-color: #C92C32;
}

.menu_ban_side_img1{
    width: 15%;
    top: -50%;
    position: absolute;
    right: 18%;
    opacity: 0;
}

.menu_ban_side.on .menu_ban_side_img1 {
    animation: sideAni1 .3s ease-in-out .6s forwards;
}

@keyframes sideAni1 {
    to {
        top: -9%;
        opacity: 1;
    }
}/*keyframes*/

.menu_ban_side_img2{
    position: absolute;
    width: 37%;
    left: 50%;
    bottom: -30%;
    transform: translateX(-50%);
    opacity: 0;
}

.menu_ban_side.on .menu_ban_side_img2 {
    animation: sideAni2 .3s ease-in-out .1s forwards;
}

@keyframes sideAni2 {
    to {
        bottom: -15%;
        opacity: 1;
    }
}/*keyframes*/


/* 드링크 배너 */
.menu_ban_drink {
    background-color: #85c441;
}

.menu_ban_drink_img1{
    width: 73%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -30%;
    opacity: 0;
}

.menu_ban_drink.on .menu_ban_drink_img1 {
    animation: drinkAni1 .3s ease-in-out .1s forwards;
}

@keyframes drinkAni1 {
    to {
        top: -6%;
        opacity: 1;
    }
}/*keyframes*/

.menu_ban_drink_img2{
    width: 50%;
    position: absolute;
    bottom: -40%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}

.menu_ban_drink.on .menu_ban_drink_img2 {
    animation: drinkAni2 .3s ease-in-out .6s forwards;
}

@keyframes drinkAni2 {
    to {
        bottom: -27%;
        opacity: 1;
    }
}/*keyframes*/

.menu_ban_list li.on {
    /*class가 "on"인 li*/
    opacity: 1;
    /*    z-index: 1;*/
    /*맨위로 오게*/
}


/************ 클릭 메뉴 *************/

#menu_list_wrap {
    width: 47%;
    margin: 0 auto;
    padding: 5% 0;
}

.menu_list {
    display: flex;
    justify-content: space-between;
}

.menu_list h3 {
    text-align: center;
    padding-top: 10px;
}

.menu_list > li {
    /* border: 1px solid #ccc;*/
    padding: 15px 30px;
    border-radius: 25px;
    box-shadow: 0 1px 4px #ccc;
    background-color: #fff;
}

.menu_list > li img {
    filter: grayscale(95%);
    width: 100px;
}

.menu_list > li:hover img {
    filter: none;
}

.menu_list > li.on img {
    filter: none;
}

/********  메뉴 ************/

#menu_box {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    padding-top: 3%;
    text-align: center;
    margin: 0 auto;
}

/* 이미지박스 */
.menu_box_img {
    position: relative;
    /*부모자격*/
    width: 21%;
    cursor: pointer;
    margin: 0 2% 7% 2%;
    background-color: #fff;
}

.burger_img {
    width: 200px;
    margin: 15% 0;
}

/* 이미지 글자 박스 */
.menu_box_text {
    padding: 10% 0;
    background-color: #f5f5f5;
}

.menu_box_text > div {
    font-size: 0.75rem;
    color: #C7060E;
}

.menu_box_text h3 {
    font-weight: normal;
}

.burger_img:hover {
    animation: MenuShake 0.4s ease-in forwards;
}

@keyframes MenuShake {
    0% {
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    12% {
        -o-transform: rotate(2deg);
        -ms-transform: rotate(2deg);
        -moz-transform: rotate(2deg);
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }

    36% {
        -o-transform: rotate(-2deg);
        -ms-transform: rotate(-2deg);
        -moz-transform: rotate(-2deg);
        -webkit-transform: rotate(-2deg);
        transform: rotate(-2deg);
    }

    62% {
        -o-transform: rotate(1deg);
        -ms-transform: rotate(1deg);
        -moz-transform: rotate(1deg);
        -webkit-transform: rotate(1deg);
        transform: rotate(1deg);
    }

    86% {
        -o-transform: rotate(-1deg);
        -ms-transform: rotate(-1deg);
        -moz-transform: rotate(-1deg);
        -webkit-transform: rotate(-1deg);
        transform: rotate(-1deg);
    }

    100% {
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

/* 더보기 */
.add_menu {
    position: relative;
    color: #000;
    text-align: center;
    cursor: pointer;
    padding: 5% 0;
}

.add_menu span {
    color: rgba(0, 0, 0, 0.5);
    font-weight: 700;
    text-shadow: none;
    padding: 6px 25px;
    background-color: rgba(0, 0, 0, 0.1);
}

/* Effect 12: circle */
.add_menu span::before,
.add_menu span::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 110px;
    height: 110px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    opacity: 0;
    transition: transform 0.3s, opacity 0.3s;
    transform: translateX(-50%) translateY(-50%) scale(0.2);
}

.add_menu span::after {
    width: 90px;
    height: 90px;
    border-width: 6px;
    transform: translateX(-50%) translateY(-50%) scale(0.8);
}

.add_menu span:hover::before,
.add_menu span:hover::after,
.add_menu span:focus::before,
.add_menu span:focus::after {
    opacity: 1;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
    -moz-transform: translateX(-50%) translateY(-50%) scale(1);
    transform: translateX(-50%) translateY(-50%) scale(1);
}

/* 메뉴 클릭시 상세 내용 */
.menu_detail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    background-color: #fff;
    display: none;
}

.close_btn {
    float: right;
    padding: 3%;
}
.close_btn img{
    width: 21px;
}

.menu_box_on {
    display: block;
}

.menu_detail h3 {
    font-size: 1.56rem;
    font-weight: normal;
}

.menu_info {
    padding-top: 25%;
}

.menu_eng {
    padding-top: 2%;
    font-size: 0.812rem;
    color: #cdcdcd;
}

.menu_price {
    font-weight: bold;
    margin: 10% 0;
}


.menu_info_text {
    position: absolute;
    width: 100%;
    height: 40%;
    bottom: 0;
    z-index: 10;
    padding: 15% 0;
    font-size: 0.93rem;
    line-height: 1.5;
    background: #f8f8f8;
}
